<div>
  <div style="text-align:center">
    <img width="500" alt="Mooven" src="../assets/images/Logo-Preferencial-1.svg">
  </div>
</div>
<div class="content-body">
  <div>
    <button mat-stroked-button (click)="redirectToSearchRepository()">
      Nova pesquisa
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div>
    <h1 mat-dialog-title>Favoritos</h1>
  </div>
  <div mat-dialog-content>
    <mat-nav-list *ngIf="searchItems && searchItems.length > 0">
      <mat-list-item *ngFor="let item of searchItems" style="cursor:default !important;">
        <h4 matLine>{{ item.name }}</h4>
        <a matLine href="{{item.html_url}}" target="_blank" style="cursor:pointer !important;">{{ item.html_url }}</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="!searchItems">
      <mat-list-item style="cursor:default !important;">
        <span>Não existe nenum favorito</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
