<div>
  <div style="text-align:center">
    <img width="500" alt="Mooven" src="../assets/images/Logo-Preferencial-1.svg">
  </div>
</div>
<div class="content-body">
  <div>
    <button mat-stroked-button color="primary" (click)="redirectToFavorite()">
      Ver favoritos
      <mat-icon>star</mat-icon>
    </button>
    <button mat-stroked-button (click)="redirectToSearchRepository()">
      Nova pesquisa
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div>
    <h1 mat-dialog-title>Repositórios do usuário: {{ repository }}</h1>
  </div>
  <div mat-dialog-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of searchItems" style="cursor:default !important;">
        <button *ngIf="!isFavorite(item)" mat-stroked-button style="cursor:pointer !important;" (click)="favoriteItem(item)">
          Favoritar item
          <mat-icon>star</mat-icon>
        </button>
        <button *ngIf="isFavorite(item)" color="primary" mat-stroked-button style="cursor:pointer !important;" (click)="favoriteItem(item, true)">
          Remover favorito
          <mat-icon>star</mat-icon>
        </button>
        <h4 matLine>{{ item.name }}</h4>
        <a matLine href="{{item.html_url}}" target="_blank" style="cursor:pointer !important;">{{ item.html_url }}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
